//colors
$black:#000000;
$white:#ffffff;
$gray:#707070;
$development:#FF2473;
$yellow-orange:#FEA946;
$design-system:#40A737;
$typography:#18B0FF;
$primary:#00569E;

//Fonts
$poppins: 'Poppins', sans-serif;