@import '../../../../styles/variable';
.board_item{
  width: 330px;
  min-height: 400px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #EEF2F5;
  padding: 24px;
  &_title{
    color: $black;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .board_item_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_cta{
      display: flex;
      align-items: center;
      gap: 16px;
      span{
        cursor: pointer;
        width: 14px;
        height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .board_item_body{
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}