.root_view_top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
.board_container{
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  gap: 20px;
  width: 100%;
  overflow-x: auto;
}